<form action="<%= session_url %>" method="POST"> 

  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    
  <label for="username">Username: </label>
    <input type="text"
      name="user[username]">
      
  <label for="password">Password: </label>
    <input type="password"
      name="user[password]">
      
  <input type="submit" value="Log in">
    
</form>