<% if logged_in? %>
  <div id="main-wrapper">
    <main role="main">
    </main>
  </div>
<% else %>

  <div id="splash">
    <div id="splash-msg">
      <h1> Don't throw your money away. </h1>
      <h2>Use OmniFive to get great deals for <strong>just $5</strong></h2>
      <div class="home-button-container">
        <button class="btn btn-custom-primary">Sign up</button>
        <button class="btn btn-custom-primary guest-login">Guest Login</button>
      </div>
    </div>
  </div>
  
  <script>
    $(".guest-login").click(function(){
      alert("guest login!");
    });
  </script>
<% end %>


