<% if logged_in? %>
  <main role="main">
  </main>
<% else %>
  <div id="splash">
    <h1> Please Sign in, click above. </h1>
    <script>
    var replaceWrapper = function(){
      console.log("woah");
      $("#main-wrapper").css("width", "100%")
      $("#main-wrapper").css("margin", "-20px 0px -20px 0px")
    }();
    </script>
  </div>
<% end %>


