<h1>Welcome to Dealsrr</h1>
<h3>Where you can get anything for $5</h3>
  
<% if logged_in? %>
  <%= button_to "Log out", session_url, method: "delete" %>
  <!-- <%= button_to "Delete Account", user_url(current_user.id), method: "delete" %> -->
  <div id="main">
    main content
  </div>
<% else %>

  
  <div class="sign-up"><a href="<%= new_user_url %>"> Sign up </a></div>
  <div class="sign-up"><a href="<%= new_session_url %>"> Log in </a></div>
<% end %>




