.orders-show {
  text-align: left;
}

.thank-you-box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 15px;
  border-radius: 10px;
}

.theme-blue-light{
  color: #3eabfa;
}

.thank-you-box p, .thank-you-box li {
  color: black;
  font-size: 20px;
  margin: 10px 0px;
}

.orders-show {
  width: 660px;
  margin-right: 350px;
}

.orders-show::after {
  content: "";
  display: table;
  clear: both;
}

.thank-you-box {
  width: 100%;
  float: left;
}

.sidebar-creator {
  width: 325px;
  margin-right: -375px;
  margin-left: 25px;
  float: left;
}

.orders-show .creator-details {
  text-align: center;
  padding: 15px 15px 5px 15px;
}

.orders-show h3 {
  margin-top: 0px;
}