
.gig-form {
  background-color: #FFFFFF;
  width: 800px;
  text-align: left;
  padding: 25px;
  color: #777777;
}

.gig-form-row {
  padding: 20px 0px;
  min-height: 55px;
}
.gig-form h1 {
  margin: 0px;
  border-bottom: 1px solid ;
  padding-bottom: 15px;
}

.gig-form .primary-submit {
  float: right;
  margin-right: 50px;
}
.label-wrap {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.input-wrap {
  width: 55%;
  display: inline-block;
}

.input-wrap input[type=text], .input-wrap textarea{
  width: 100%%;
}

.small-thumb {
  width: 150px;
  height: 150px;
}

.input-wrap button.valign-top {
  vertical-align: top;
}