
.gig-form {
  background-color: #FFFFFF;
  width: 800px;
  text-align: left;
  padding: 25px;
  color: #777777;
}

.gig-form-row {
  padding: 20px 0px;
  min-height: 55px;
}
.gig-form h1 {
  margin: 0px;
  border-bottom: 1px solid ;
  padding-bottom: 15px;
}

.gig-form .primary-submit {
  float: right;
  margin-right: 50px;
}
.label-wrap {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.input-wrap {
  width: 55%;
  display: inline-block;
}

.input-wrap input[type=text], .input-wrap textarea{
  width: 100%%;
}

.small-thumb {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.medium-thumb {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.input-wrap button.valign-top {
  vertical-align: top;
}

.profile-box {
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 25px;
}

.profile-box-wrapper {
  margin: 0px 10px;
}

.users-show-wrapper .gigs-index-item{
  padding: 0px 10px;
}

.rounded-corners {
  border-radius: 5px;
}

.profile-username {
  padding-bottom: 15px;
//  float: left;
}

.user-desc {
  vertical-align: top;
  padding: 20px 0px 0px 20px;
  
//  padding-left: 250px;
//  min-height: 200px;
}

.users-show-wrapper {
  color: #555555;
}

.btn-wrapper {
  padding-top: 15px;
}