<h1> Public Profile Settings </h1>
<form> 
  <div class="gig-form-row">
    <div class="label-wrap">
      <label for="username">Username: </label>
    </div>
    
    <div class="input-wrap"> 
      <input type="text"
        name="user[username]"
        value="<%= user.get('username')%>">
    </div>
  </div>

  <div class="gig-form-row">
    <div class="label-wrap">
      <label for="email">Email: </label>
    </div>
    
    <div class="input-wrap"> 
      <input type="text"
        name="user[email]"
        value="<%= user.get('email')%>">
    </div>
  </div>


  <div class="gig-form-row">
    <div class="label-wrap">
      <label for="creator_desc">Tell us about yourself: </label><br>
    </div>
    <div class="input-wrap"> 
      <textarea name="user[creator_desc]" id="creator_desc"><%= user.escape('creator_desc')%></textarea>
    </div>
  </div>
  <div class="gig-form-row">
    <div class="label-wrap">
      <label for="fp-user-image">Choose a new Avatar</label>
    </div>
    <div class="input-wrap"> 
    <img src="<%= user.escape('image_url')%>" class="small-thumb img-circle">
      <input
        type="filepicker"
        class="fp-tagged"
        data-fp-mimetype="image/*"
        name="user[image_url]"
        data-fp-button-text="Upload Image"
        data-fp-button-class="btn btn-default valign-top">
    </div>

  </div>
  <div class="gig-form-row">
   <input type="submit" value="Update Profile" class="btn btn-primary primary-submit">
  </div>

</form>

