<h2><%= user.escape("username") %></h2>
<div class="user-desc"><%= user.escape("creator_desc")%> </div>

<div class="user-avatar"> <img src="<%= user.escape('image_url')%>" class="img-circle"></div>

<h3><%= user.escape("username") %>&#8217;s Gigs</h3>
<div class="gigs-index">
</div>