<h2><%= user.escape("username") %></h2>
<div class="user-desc"><%= user.escape("creator_desc")%> </div>

<div class="gigs-index">
</div>

<div class="back-to-home"><a href="#">Back to Gigs Index</a></div>