<div class="profile-box-wrapper">
  <div class="profile-box">
    <table> 
      <tbody>
        <tr>
          <td class="user-avatar"> 
            <img src="<%= user.escape('image_url')%>" class="rounded-corners medium-thumb">
          </td>

          <td class="user-desc">
            <h2 class="profile-username"><%= user.escape("username") %></h2>
            <%= user.escape("creator_desc")%> 
            <div class="btn-wrapper">
              <button class="btn btn-custom-primary">Contact</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if (user.gigs().length > 0) { %>
  <h3><%= user.escape("username") %>&#8217;s gigs</h3>
  <div class="gigs-index">
  </div>
<% } %>