<div class="thank-you-box">
  <h2><strong>Thank you</strong>, your order has been placed.</h2>

  <p>Order Confirmation #<%= order.escape("id")%></p>

  <div class="total-price"><p>Amount charged to your account: <%= order.escape("total_price") %></p></div>
</div>

<h2> Your order of <br> <strong><%= order.gig().escape("title") %></strong> <br> is on its way! </h2>

<img src="<%= order.gig().escape('image_url')%>">