/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Clear defaults */
html, body {
   margin: 0px; padding: 0px; border: 0px;
}

ul {
  margin: 0px;
}

h2 {
  margin: 0;
}
//h1, h2, h3, h4, h5, h6 {
//  margin: 0; padding: 0; font-weight: normal; font-family: Arial, Helvetica, sans-serif;
//}

/* End clearing defaults */

/* Sticky footer styles */

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -60px;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 60px;
}

/* End sticky footer styles*/


#main-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  min-width: 95%;
}

#main-wrapper::after {
  content: " ";
  display: table;
  clear: both;
}

.gig-show-view-wrapper::after {
  content: " ";
  display: table;
  clear: both;
}

.welcome h1 {
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.welcome h1, .welcome h3{
  font-family: "Oxygen", "Arial Black", Gadget, sans-serif;
}

.welcome h3 {
  margin-top: 5px;
}
.navbar-nav > li > .dropdown-menu {
  width: 100%;
}
body {
//  background-color: #F7F7F7;
//  background-color: #eeeeee; //darker gray
  background-color: #FDFDFD; //lighter gray
}

a {
  color: #3E8FFA;
}

a:hover {
  color: #3E8FFA;
};

.back-to-home {
  clear: both;
}

.error {
  width: 450px;
  margin: 0 auto;
  margin-top: 25px;
}

nav.navbar {
  border-radius: 0px;
}

nav.navbar .navbar-brand{
  color: #FFFFFF;
}

footer {
  border-top: 1px #e5e5e5 solid;
  background-color: #FFFFFF;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #b3b3b3;
}

.footer-main {
  width: 1004px;
  margin: 0 auto;
}

.footer-main::after {
  content: " ";
  display: table;
}


footer li {
  list-style: none;
  float: left;
  padding: 0 10px;
}

footer a {
  color: #b3b3b3;
}

footer a:hover {
  color: #3eabfa;
  text-decoration: none;
}

footer ul {
  float: left;
}

.copyright-notice {
  font-size: 0.9em;
  float: right;
}
.custom-container {
  margin-right: auto;
  margin-left: auto;
}

.custom-container {
  width: 90%;
}

#splash {
  width: 100%;
  margin-top: -20px;
  min-height: 850px;
  background-image: url("/assets/OmniFive-Splash-Image-cropped.jpg");
}

#splash-msg {
  position: absolute;
  background: rgba(200,200,200,0.78);
  top: 35%;
  left: 25%;
  right: 25%;
  display: inline;
  border-radius: 8px;
  padding: 30px;
}

#splash h1 {
  margin: 0px 0px 20px 0px;
}

.guest-login {
  margin: 0 auto;
}

.home-button-container {
  text-align: left;
}

.home-button-container button {
  margin: 15px 20px 0px 0px;
  font-size: 18px;
}

.theme-blue {
  color: #3E8FFA;
}