/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#main-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  content: " ";
  display: table;
  clear: both;
}

.gig-show-view-wrapper {
  content: " ";
  display: table;
  clear: both;
}

body {
  background-color: #F7F7F7;
}

.back-to-home {
  clear: both;
}

.error {
  width: 450px;
  margin: 0 auto;
  margin-top: 25px;
}

nav.navbar {
  border-radius: 0px;
}

footer {
  border-top: 1px #e5e5e5 solid;
  background-color: #FFFFFF;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-main {
  width: 1004px;
  margin: 0 auto;
}