/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Clear defaults */
html, body {
   margin: 0px; padding: 0px; border: 0px;
}

ul {
  margin: 0px;
}

h2 {
  margin: 0;
}
//h1, h2, h3, h4, h5, h6 {
//  margin: 0; padding: 0; font-weight: normal; font-family: Arial, Helvetica, sans-serif;
//}

/* End clearing defaults */

/* Sticky footer styles */

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -60px;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 60px;
}

/* End sticky footer styles*/


/* CSS Spinner */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dcecb;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 5em auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #FFF;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dcecb;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* End CSS Spinner  */
#main-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  min-width: 95%;
}

#main-wrapper::after {
  content: " ";
  display: table;
  clear: both;
}

.gig-show-view-wrapper::after {
  content: " ";
  display: table;
  clear: both;
}

body {
//  background-color: #F7F7F7;
  background-color: #eeeeee;
}

a {
  color: #3E8FFA;
}

a:hover {
  color: #3E8FFA;
};

.back-to-home {
  clear: both;
}

.error {
  width: 450px;
  margin: 0 auto;
  margin-top: 25px;
}

nav.navbar {
  border-radius: 0px;
}

footer {
  border-top: 1px #e5e5e5 solid;
  background-color: #FFFFFF;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #b3b3b3;
}

.footer-main {
  width: 1004px;
  margin: 0 auto;
}

.footer-main::after {
  content: " ";
  display: table;
}


footer li {
  list-style: none;
  float: left;
  padding: 0 10px;
}

footer a {
  color: #b3b3b3;
}

footer a:hover {
  color: #3eabfa;
  text-decoration: none;
}

footer ul {
  float: left;
}

.copyright-notice {
  font-size: 0.9em;
  float: right;
}
.custom-container {
  margin-right: auto;
  margin-left: auto;
}

.custom-container {
  width: 90%;
}

#splash {
  width: 100%;
  margin-top: -20px;
  min-height: 1000px;
  background-image: url("/assets/OmniFive-Splash-Image-cropped.jpg");
}

#splash-msg {
  position: absolute;
  background: rgba(200,200,200,0.78);
  top: 35%;
  left: 20%;
  width: 60%;
  display: inline;
  border-radius: 8px;
  padding: 30px;
}

#splash h1 {
  margin: 0px 0px 20px 0px;
}

.guest-login {
  margin: 0 auto;
}

.home-button-container {
  text-align: left;
  margin-top: 15px;
}
.home-button-container button {
  margin-right: 20px;
  font-size: 18px;
}