.gigs-index-item {
  background-color: #FFFFFF;
  margin: 10px;
  width: 222px;
  float: left;
  border: #FFFFFF solid 2px;
}

.main-gig-extras {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.gigs-index-item img {
  width: 100%;
}

.order-now {
  background-color: #00b22d;
  border: 1px solid #028a25;
  font: 500 16px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 16px 40px;
  color: #FFFFFF;
  border-radius: 3px;
}

.gig-extras-index-wrapper {
    margin: 0 auto;
}

.gig-extra-price {
  text-align: left;
  margin-left: 4px;
}

.extras-row {
//  height: 66px;
  
}
.extras-row td {
  padding: 15px 15px 15px 0;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
  vertical-align: top;
  border-bottom: 1px #dddddd solid;
}

.order-now {
  width: 225px;
}

.order-button-container {
  margin-top: 15px;
}