.gigs-index-item {
  width: 25%;
  float: left;
  padding-right: 20px;
}

.gigs-index-item h3 {
  color: #303030;
  transition: color 0.3s;
  margin: 4px 10px 10px 10px;
  font-size: 15px;
  line-height: 18px;
  height: 60px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.gigs-index-item:hover h3 {
  color: #3eabfa;
}

.inner-gig-index {
  cursor: pointer;  //This is clickable, akin to anchor tag
  background-color: white;
  position: relative;
}

.gig-price strong{
  float: left;
  background-color: #3eabfa;
  font-size: 16px;
  color: #fff;
  padding: 1px 7px;
  height: 25px;
  line-height: 23px;
}

.gig-price strong.gig-index-order {
  padding-right: 0px;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.gig-price:hover .gig-index-order{
  opacity: 1;
}

.gig-price {
  position: absolute;
  top: 10px;
  right: -3px;
}

.gigs-index-item img {
  width: 100%;
  padding: 3px;
}

.main-gig-extras {
//  width: 75%;
  margin: 0 auto;
  text-align: center;
}



.order-now {
  background-color: #00b22d;
  border: 1px solid #028a25;
  font: 500 16px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 16px 40px;
  color: #FFFFFF;
  border-radius: 3px;
}

.gig-extras-index-wrapper {
    margin: 0 auto;
}

.gig-extra-price {
  text-align: left;
  margin-left: 4px;
}

.extras-row td {
  padding: 15px 15px 15px 0;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
  vertical-align: top;
  border-bottom: 1px #dddddd solid;
}

.order-now {
  width: 225px;
}

.order-button-container {
  margin-top: 15px;
}

td input[type="checkbox"] {
  margin: 0px;
}

.gig-extra-price label {
  font-weight: normal;
}


/* Gig Show Page Styles */
.gig-show-details {
  width: 100%;
  float: left;
}

.gig-show-creator-details {
  float: left;
}

.gig-extra-price label {
  min-width: 80px;
}

.gig-show-view-wrapper {
  width: 660px;
  margin-right: 350px;
}

.gig-show-creator-details {
  width: 325px;
  float: right;
  margin-right: -350px;
}

