.gigs-index-item {
  width: 25%;
  float: left;
  padding: 0px 0px 20px 10px;
  min-width: 160px; 
}

.gigs-index-item h3 {
  color: #303030;
  transition: color 0.3s;
  margin: 4px 10px 10px 10px;
  font-size: 15px;
  line-height: 18px;
  height: 60px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.gigs-index-item .inner-gig-index h3 {
  text-align: center;
}

.gigs-index-item:hover h3 {
  color: #3eabfa;
}

.inner-gig-index {
  cursor: pointer;  //This is clickable, akin to anchor tag
  background-color: white;
  position: relative;
  border: 1px #dddddd solid;
}

.gig-price strong{
  float: left;
  background-color: #3eabfa;
  font-size: 16px;
  color: #fff;
  padding: 1px 7px;
  height: 25px;
  line-height: 23px;
}

.gig-price strong.gig-index-order {
  padding-right: 0px;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.gig-price:hover .gig-index-order{
  opacity: 1;
}

.gig-price {
  position: absolute;
  top: 10px;
  right: -3px;
}

.gigs-index-item img {
  width: 100%;
  padding: 3px;
}

.main-gig-extras {
//  width: 75%;
  margin: 0 auto;
  text-align: center;
}



.order-now {
  background-color: #3EABFA;
  border: 1px solid #3E8FFA;
//  background-color: #00b22d;
//  border: 1px solid #028a25;
  font: 500 16px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 16px 40px;
  color: #FFFFFF;
  border-radius: 3px;
  width: 225px;
}

button.btn-custom-primary, button.btn-custom-primary:hover {
  background-color: #3EABFA;
  border: 1px solid #3E8FFA;
  color: white;
}

.order-now.large-btn {
  width: 300px;
  margin: 13px;
}

.gig-extras-index-wrapper {
    margin: 0 auto;
}

.gig-extra-price {
  text-align: left;
  margin-left: 4px;
}

.extras-row td {
  padding: 15px 15px 15px 0;

  line-height: 18px;
  color: #555555;
  vertical-align: top;
  border-bottom: 1px #dddddd solid;
}
.extras-row td, .gig-show-details-body {
  font-size: 16px;
  color: #0e0e0f;
}

.gig-show-details-body {
  padding: 20px;
  line-height: 22px;
  text-align: left;
}


.order-button-container {
  margin-top: 15px;
}

td input[type="checkbox"] {
  margin: 0px;
}

.gig-extra-price label {
  font-weight: normal;
}


/* Gig Show Page Styles */

.gig-show-details h1 {
  text-align: left;
  color: #0e0e0f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  min-height: 52px;
  border-bottom: 1px solid #dddddd;
}

.gig-show-header{
  padding: 15px;
}

.gig-show-details {
  width: 100%;
  float: left;
}

.gig-extra-price label {
  min-width: 80px;
}

.gig-show-view-wrapper {
  width: 660px;
  margin-right: 350px;
}

.gig-show-sidebar {
  width: 325px;
  float: right;
  margin-right: -375px;
  margin-left: 25px;
  float: left;
}

.gig-show-detail {
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}

.gig-show-detail h2 {
  font-size: 18px;
  font-weight: bold;
//  color: #0e0e0f;
  text-align: left;
  margin: 0px;
}

.gig-show-detail header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dddddd;
  padding: 18px;
}

.gig-show-detail header.gig-title {
  background-color: #FFFFFF;
  border: none;
  padding-bottom: 0px;
}
.gig-show-detail header.gig-title h1 {
  font-family: "Oxygen", "Arial Black", Gadget, sans-serif;
  font-weight: bold;
}

.gig-show-details-body img{
  padding-bottom: 4px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.gig-extra-title {
  text-align: left;
  width: 492px;
}


.gig-title + .gig-show-details-body{
  padding: 20px 0px;
}



.creator-details {
  background: #FFFFFF;
  padding: 25px 15px 5px 15px;
}

.sidebar-section {
  border: 1px solid #dddddd;
}

.gig-show-sidebar .order-button-container{
  background-color: #FFFFFF;
  margin-top: 0px;
}

.gig-show-sidebar > div {
  margin-bottom: 20px;
}

.gig-show-sidebar h4 {
  margin-bottom: 0px;
}

.sidebar-section {
  color: #999999;
}

.sub-section-description {
  border-top: 1px solid #DDDDDD;
  color: #555555;
  padding: 10px 0px;
}


.creator-other-gigs h3 {
  text-align: left
}

.creator-other-gigs .custom-container {
  margin-left: 0px;
}

.outer-show-view-wrapper {
  width: 1010px; //disable to give gig index items varied with, inherited
  margin: 0 auto;
}