<td class="gig-extra-title">
  <%= extra.escape('title') %> 
</td>
<td class="gig-extra-price">
  Price: $ <%= extra.escape("price") %>
</td>
<td class="chkbox"> 
<input type="checkbox" 
  name="order[extras][]"
  data-gig-extra-id="<%= extra.escape('id') %>"
  data-price="<%= extra.escape('price') %>">
</td>