<footer class="footer">
  <div class="footer-main">
    <ul class="links-index">
      <li><a href="#" onclick="return false;">About Us</a></li>
      <li><a href="http://www.linkedin.com/pub/aaron-cordovez/96/108/765/">About Our Founder</a></li>
      <li><a href="#" onclick="return false;">Careers</a></li>
      <li><a href="#" onclick="return false;">Privacy</a></li>
      <li><a href="#" onclick="return false;">Sellers</a></li>
    </ul>
    
    <div class="copyright-notice">&#169; OmniFive International LLC </div>
  </div>
</footer>